attrs==18.2.0
Automat==0.7.0
cffi==1.11.5
constantly==15.1.0
Django==4.2.17
django-crispy-forms==1.7.2
django-javascript-settings==1.1.2
django-mssql==1.8
hyperlink==18.0.0
idna==3.7
incremental==17.5.0
misaka==2.1.0
mysqlclient==1.4.2.post1
Pillow==10.3.0
PyAutoGUI==0.9.41
pycparser==2.18
PyGetWindow==0.0.3
PyHamcrest==1.9.0
PyMsgBox==1.0.6
PyMySQL==1.1.1
PyRect==0.1.4
PyScreeze==0.1.19
PyTweening==1.0.3
pytz==2018.5
six==1.11.0
